@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

body {
  background-color: #0d1117;
  color: #fff;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.header {
  padding: auto;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #010409;
  text-align: center; /* Move the header to the center */
}

.center-public {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.center-private {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.service {
  background-color: #21262d;
  padding: 20px;
  border-radius: 5px;
  margin: 10px;
  text-align: center;
  width: 200px;
  position: relative;
  transition: transform 0.3s; /* Add transition for smooth animation */
  cursor: pointer; /* Add cursor pointer to indicate it's clickable */
}

.service:hover {
  transform: scale(1.1); /* Increase the size of the element on hover */
}

.service a {
  color: #fff;
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold; /* Make the text bold */
}

.service i {
  font-size: 3em; /* Increase the font size to make the icons bigger */
  margin-bottom: 10px;
}

.page-foot {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #0d1117;
  padding: 20px;
  text-align: center;
  color: #4a4a4a;
}
